# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Nikoloz Loladze

__Objectives:__
- Learn Python
- Learn R
- Learn SQL
- Learn Jupyter Notebook
- Learn Anaconda

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. etc...

Someof the libraries commonly used by Data Scientists include:
1. NumPy (Python library)
2. pandas (Python library)
3. Matplotlib (Python library)
4. ggplot2 (R library)
5. dplyr (R library)
6. caret (R library)
7. etc...

| Data Science Tools |
| -------------------|
| Jupyter Notebook   |
| RStudio            | 
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This is a simple arithmetic expression for multiplying, then adding integers 
(3*4)+5

17

In [28]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200  # change this value as needed
hours = minutes/60
hours

3.3333333333333335